---
---

@import "{{ site.theme }}";

.profile-img {
  width: 200px;
  border-radius: 12px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
